# Телеграм-токен (получить у @BotFather)
BOT_TOKEN=8802601873:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

# ID групп (нужно узнать ID вашей группы диспетчеров и пассажиров)
# Если группа супергруппа, ID начинается с -100
DISPATCH_GROUP_ID=-1000000000000

# Авторизационные данные GigaChat (получить в Студии Сбербанка)
CLIENT_ID=00000000-0000-0000-0000-000000000000
CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX==

# Строка подключения к базе данных
# Формат: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:postgres@db:5432/transport_db?schema=public"

# Переменные для инициализации базы данных через Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=transport_db
